//! **************************************************************************
// Written by: Map P.68d on Thu Sep 15 11:00:55 2016
//! **************************************************************************

SCHEMATIC START;
COMP "ld<2>" LOCATE = SITE "P54" LEVEL 1;
COMP "ld<3>" LOCATE = SITE "P53" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "P101" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "P95" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "P89" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "P84" LEVEL 1;
COMP "ld<0>" LOCATE = SITE "P59" LEVEL 1;
COMP "ld<1>" LOCATE = SITE "P58" LEVEL 1;
SCHEMATIC END;

